NODE_ENV = "development"
PORT = 4000

DATABASE_URL="postgresql://postgres:password@localhost:5432/advancedbackendauthenticationsystem"

FRONTEND_URL = "HTTP://localhost:5173"
JWT_ACCESS_TOKEN_SECRET = "efragtkksgr4rbse43wgevseh6u7yshwrq3whtjhj8jesw43gtu7et5ue67iwe"
JWT_ACCESS_TOKEN_EXPIRES_IN = "1d"

JWT_REFRESH_TOKEN_SECRET = "wtfrdkaokj3hpi2e0plmk2w3emzjlk9384ikliu24lew8982934hfailfuj34u"
JWT_REFRESH_TOKEN_EXPIRES_IN = "7d"